/* Reset default browser styles */
body,
h1,
p,
input,
button {
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', Fantasy;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #060058;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    margin-bottom: 15px;
    font-size: 2em;
    color: #ffffff;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    outline: none;
    border-color: #fff394;
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: #fff394;
    color: #060058;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #ff8c00;
}

/* Result styles */
.result {
    background-color: #060058;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}

.result h2 {
    font-size: 9em;
    margin-bottom: 15px;
    color: #ffffff;
}
